.CameraAlignmentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Camera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  height: 100%;
}

.CameraContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;

  width: 50vw;
  height: auto;
}

.CameraMessageBox {
  display: block;
  font-size: 1.5rem;
  font-family: 'Arimo';
  color: hsl(0, 0%, 100%);

  width: 40vw;

  background-color: #ed55b2;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.CameraEmojiBadge {
  display: inline;
  border-radius: 50%;
  background: #45e3ff;
  padding: 0.3rem;
  margin-right: 1rem;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.keybadge {
  margin-right: 0;
  margin-left: 1rem;
}

.Webcam {
  width: 40vw;
  height: auto;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.CaptureButton {
  width: 4rem;
  height: 2rem;
}

.SnapshotContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  width: 50vw;
  height: auto;
}

.Snapshot {
  width: 40vw;
  height: auto;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.SnapshotConfirmButton {
  width: 4rem;
  height: 2rem;
}
